<footer class="footer-distributed">
  <div class="footer-left">
    <span><img class="footer-logo" src="assets/toolbar-logo.png" /></span>
  </div>
  <div class="footer-center">
    <div>
      <p><span>Romania, Jud.Brasov</span> Brasov, Coresi</p>
    </div>
    <div>
      <p>+1.555.555.5555</p>
    </div>
    <div>
      <p><a href="mailto:support@company.com">support@foodzen.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About us</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
      convallis velit, eu auctor lacus vehicula sit amet.
    </p>
    <div class="footer-icons"></div>
  </div>
</footer>
