<mat-card class="example-card">
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-title>{{cartItem.productName}}</mat-card-title>
    <mat-card-content>
      <p>Cantitate: {{cartItem.qty}}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Pret: {{cartItem.price}}</p>
    </mat-card-content>
    <mat-card-content>
      <p><strong>{{(cartItem.qty * cartItem.price ) | currency:'RON'}}</strong></p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>
        <span matPrefix>
          <mat-icon
            class="cart-delete-icon"
            aria-hidden="false"
            aria-label="Example delete icon"
            >delete</mat-icon
          >
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
