<div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input matInput type="email" placeholder="Ex: test@gmail.com">
    </mat-form-field>
  </form>
    
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput #message maxlength="15">
      <mat-hint align="end">{{message.value.length}} / 15</mat-hint>
    </mat-form-field>
  </form>

  <button mat-raised-button>LOG IN</button>
</div>
