<div class="login-background">
  <div class="form-container mat-elevation-z5">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login-form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Email address" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']">
          Email address is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput type="password" placeholder="Password" formControlName="password" />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <div class="center margin-top">
          <button type="submit" mat-raised-button color="primary" class="login-button">Login</button>
      </div>
      <div class="center margin-top">
        <span>New to our platform? <a class="sign-up-link" (click)="navigateToSignup()">Sign up!</a></span>
      </div>
    </form>
  </div>
</div>
