<div class="shopping-cart-background">
  <app-nav-bar></app-nav-bar>

  <div class="shopping-cart-menu">
    <div class="product-in-cart">
      <mat-card class="example-card">
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <mat-card-title>Apple</mat-card-title>
        <mat-card-content>
          <p>green</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>
            <span matPrefix>
              <mat-icon
                class="cart-delete-icon"
                aria-hidden="false"
                aria-label="Example delete icon"
                >delete</mat-icon
              >
            </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="product-in-cart">
      <mat-card class="example-card">
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <mat-card-title>Milk</mat-card-title>
        <mat-card-content>
          <p>cow milk</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>
            <span matPrefix>
              <mat-icon
                class="cart-delete-icon"
                aria-hidden="false"
                aria-label="Example delete icon"
              >
                delete
              </mat-icon></span
            >
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="product-in-cart">
      <mat-card class="example-card">
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <mat-card-title>Oil</mat-card-title>
        <mat-card-content>
          <p>Olive oil</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>
            <span matPrefix>
              <mat-icon
                class="cart-delete-icon"
                aria-hidden="false"
                aria-label="Example delete icon"
                >delete</mat-icon
              >
            </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="product-in-cart">
      <mat-card class="example-card">
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <mat-card-title>Kiwi</mat-card-title>
        <mat-card-content>
          <p>green</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button>
            <span matPrefix>
              <mat-icon
                class="cart-delete-icon"
                aria-hidden="false"
                aria-label="Example delete icon"
                >delete</mat-icon
              >
            </span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
