.empty {
  height: 70vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.checkout {
  flex-basis: 100%;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(2, 8rem);
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

b {
  justify-self: end;
}

.shopping-cart-background {
  background-image: url(./images/shopping-cart-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.cart-delete-icon {
  margin-top: 13px;
  background-color: transparent;
}

.cart-delete-icon:hover {
  content: url(./images/bin-icon.png);
  background-color: white;
}

.product-card{
  max-width: 245px;
  margin-right: 20px;
}

.cart-delete-button{
  margin-left: 10px;
}

.shopping-cart-menu{
  display: flex;
  margin: 30px;
  padding: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}


.product-title-link{
  text-decoration: none;
}

.checkout-section{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.checkout-card{
  width: 500px;
}

.checkout-button{
  background-color: #3f51b5;
  color: #fff;
  width: 200px;
}

.checkout-button:hover{
  background-color: green;
  color: #fff;
}


