.empty {
  height: 70vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.checkout {
  flex-basis: 100%;
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(2, 8rem);
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

b {
  justify-self: end;
}

.shopping-cart-background {
  background-image: url(./images/shopping-cart-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
