<mat-toolbar color="primary">
  <button
    class="navbar-home-button"
    mat-button
    routerLink="/home"
    matTooltip="Home"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"
      >home</mat-icon
    >
  </button>
  <span><img class="toolbar-logo" src="assets/toolbar-logo.png" /></span>
  <span class="example-spacer">
    <div class="navbar-categories">
      <button
        class="category 1"
        mat-button
        routerLink="/home"
        matTooltip="Every drink available"
      >
      <mat-icon aria-hidden="false" aria-label="Example local_bar icon" fontIcon="local_bar"
      >local_bar</mat-icon
    > Drinks
      </button>
      <button
        class="category 2"
        mat-button
        routerLink="/home"
        matTooltip="Find your local restaurants"
      ><mat-icon aria-hidden="false" aria-label="Example store_mall_directory icon" fontIcon="store_mall_directory"
      >store_mall_directory</mat-icon
    >
         Restaurants
      </button>
      <button
        class="category 3"
        mat-button
        routerLink="/home"
        matTooltip="All the reviews"
      ><mat-icon aria-hidden="false" aria-label="Example star_half icon" fontIcon="star_half"
      >star_half</mat-icon
    >
         Reviews
      </button>
    </div>
  </span>

  <button
    class="navbar-products-button"
    mat-button
    routerLink="/products"
    matTooltip="Products"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example fastfood icon"
      fontIcon="fastfood"
      >fastfood</mat-icon
    >
  </button>
  <button
    class="navbar-cart-button"
    mat-button
    routerLink="/cart"
    matBadge="{{ itemInCart }}"
    matBadgePosition="after"
    matBadgeColor="primary"
    matTooltip="Your shopping cart"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example shopping_cart icon"
      fontIcon="shopping_cart"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>
