<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  ></button>
  <button
    class="navbar-home-button"
    mat-button
    routerLink="/home"
    matTooltip="Home"
  >
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"
      >home</mat-icon
    >
  </button>
  <span class="example-spacer"></span>
  <button
    class="navbar-products-button"
    mat-button
    routerLink="/products"
    matTooltip="Products"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example fastfood icon"
      fontIcon="fastfood"
      >fastfood</mat-icon
    >
  </button>
  <button
    class="navbar-cart-button"
    mat-button
    routerLink="/cart"
    matBadge="{{ itemInCart }}"
    matBadgePosition="after"
    matBadgeColor="primary"
    matTooltip="Your shopping cart"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Example shopping_cart icon"
      fontIcon="shopping_cart"
      >shopping_cart</mat-icon
    >
  </button>
</mat-toolbar>
