.products-background {
  background-image: url(./images/products-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.productsMenu {
  display: flex;
  margin: 30px;
  padding: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product-in-menu {
  margin: 10px;
}

.product-image{
  width: auto;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin: 1px;
}

.product-description{
  padding-top: 6px;
  width: 310px;
}

.product-card {
  max-width: 320px;
  max-height: 400px;
}

.product-buttons{
  align-items:center;
}

.product-title{
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.product-title-link{
  text-decoration: none;
  color: #3f51b5;
}
