.products-background {
    background-image: url(./images/products-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .productsMenu {
    display: flex;
    margin: 30px;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .product-in-menu {
    margin: 10px;
  }
  
  .cart-button {
    background-color: #3f51b5;
    color: #fff;
  }
  
  .cart-button:hover {
    background-image: url(./images/cart-icon.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    color: transparent;
    transition: all 0.2s;
  }
  
  .cart-button:active {
    background-image: url(./images/cart-icon.png);
    background-color: #3f51b5;
    transform: translateY(1px);
  }
  