.products-background {
  background-image: url(./images/products-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.fade {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  z-index: 6;
  background: rgba(255, 255, 255, 0)
      linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.8) 40%
      )
      repeat scroll 0 0;
}

.productsMenu {
  display: flex;
  margin: 30px;
  padding: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product-in-menu {
  margin: 10px;
}

.product-image{
  max-width: 310px;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  margin: 0px;
}

.frontImageDiv{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-description{
  padding-top: 6px;
  width: 310px;
}

.product-card {
  max-width: 340px;
  max-height: 600px;
}

.product-buttons{
  align-items:center;
}

.product-title{
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.product-title-link{
  text-decoration: none;
  color: #3f51b5;
}
