<div class="signup-background">
  <div class="form-container mat-elevation-z5">
    <h1 class="form-title">Register @FoodZen</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()" class="sign-up-form">
      <mat-form-field class="form-field">
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="name?.errors?.['required']">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="Email address" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']">
          Email address is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="password?.invalid && password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <mat-error *ngIf="confirmPassword?.errors?.['required']">
          Confirm Password is required
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
        Passwords should match
      </mat-error>
      <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary" class="sign-up-button">Sign Up!</button>
        <button type="submit" mat-raised-button color="primary" class="log-in-button" (click)="backToLogin()">Back to login!</button>
      </div>
    </form>
  </div>
</div>