.signup-background {
  background-image: url(./images/signup-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.signup-card {
  max-width: 400px;
  height: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #3f51b5;
}

.signup-title {
  margin-top: 10px;
}

.signup-email {
  width: 260px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 91vh;
  justify-content: center;
  align-items: center;
}

.signup-name {
  width: 260px;
}

.signup-button {
  background-color: #3f51b5;
  color: #fff;
  width: 160px;
}

.signup-button:hover{
    background-color: #fff;
    color: #3f51b5;
}
