.signup-background {
  background-image: url(./images/signup-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 16px;
}

.sign-up-button {
  width: 100%;
}

.center {
  text-align: center;
}

.margin-top {
  margin-top: 16px;
}
