.product-card {
  max-width: 2000px;
}

.product-page {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.images {
  margin: 0px;
  padding: 20px;
}

.image {
  width: auto;
  height: 200px;
  margin: 10px;
}

.product-title-and-qty {
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 10px;
  text-align: center;
}

.add-to-cart-button {
  background-color: #3f51b5;
  color: #fff;
  width: 300px;
}

.add-to-cart-button:hover {
  background-image: url(./images/cart-icon.png);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  color: transparent;
  transition: all 0.2s;
}

.add-to-cart-button:active {
  background-image: url(./images/cart-icon.png);
  background-color: #3f51b5;
  transform: translateY(1px);
}

.products-background {
  background-image: url(./images/products-background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.back-to-shopping-button {
  width: 200px;
  color: #3f51b5;
}

.back-to-shopping-button:hover {
  background-color: #3f51b5;
  color: #fff;
}
