<app-nav-bar></app-nav-bar>
<div class="products-background">
  <div class="product-page">
    <mat-card class="product-card">
      <mat-card-title-group>
        <div class="product-title-and-qty">
          <mat-card-title>{{ product.name }}</mat-card-title>
          <br />
          <mat-card-subtitle>qty: {{ product.qty }}</mat-card-subtitle>
        </div>
        <div class="images" *ngFor="let image of product.imgUrls">
          <img class="image" mat-card-image [src]="image" />
        </div>
      </mat-card-title-group>
      <mat-card-content>
        <p>{{ product.desc }}</p>
      </mat-card-content>
      <mat-card-content>
        <p>{{ product.price | currency: "RON " }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="add-to-cart-button"
          mat-button
          (click)="addToCart(product)"
        >
          ADD TO CART
        </button>
        <button
          class="back-to-shopping-button"
          mat-button
          routerLink="/products"
        >
          Back to Shopping
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
