.example-card {
  max-width: 400px;
}

.productsMenu {
  display: flex;
  margin: 30px;
  padding: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product-in-menu {
  margin:10px
}
