<div class="home-background">
<app-nav-bar></app-nav-bar>


  <!-- <p [style.color]="color">{{ title }}</p>

  <button mat-button type="submit" [disabled]="buttonDisable">Test</button>
  <button mat-button type="submit" (click)="changeButton()">Update Button</button>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input
        required
        type="email"
        matInput
        placeholder="test@example.com"
        value=""
        [(ngModel)]="newTitle"
      />
    </mat-form-field>
    <button
      mat-button
      type="submit"
      [disabled]="buttonDisable"
      (click)="changeTitle()"
    >
      {{ newTitle }}
    </button>
  </p> -->
<!-- 
  <h2>{{person | json}}</h2>

  <h2>{{date}}</h2>

  <h2>{{date | date:'short'}}</h2>

  <h2>{{date | date:'medium'}}</h2>

  <h2>{{date | date:"yyyy-MM-dd HH:mm"}}</h2>
 -->

</div>
