<div class="home-background">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <mat-card class="post-card">
      <mat-card-header>
        <mat-card-title class="post-title"
          >Foodzen NOW in Brasov !</mat-card-title
        >
      </mat-card-header>
      <img mat-card-image src="assets/coresi.jpg" alt="" class="post-image" />
      <mat-card-content class="content-container">
        <p class="post-content">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="fade-bottom"></div>
<div class="home-content-title-description">
  <h1 class="title-description">
    We at Foodzen offer cuisine to suit your daily tastes.<br />
  </h1>
  <div class="row">
    <div class="column">
      <div class="block">
        <p>
          <mat-icon
            aria-hidden="false"
            aria-label="Example shopping_basket icon"
            >shopping_basket</mat-icon
          >
        </p>
        <h3>7,000+</h3>
        <p>Products</p>
      </div>
    </div>

    <div class="column">
      <div class="block">
        <p>
          <mat-icon aria-hidden="false" aria-label="Example store icon"
            >store</mat-icon
          >
        </p>
        <h3>300+</h3>
        <p>Restaurants</p>
      </div>
    </div>

    <div class="column">
      <div class="block">
        <p>
          <mat-icon aria-hidden="false" aria-label="Example local_shipping icon"
            >local_shipping</mat-icon
          >
        </p>
        <h3>20,000+</h3>
        <p>Orders</p>
      </div>
    </div>

    <div class="column">
      <div class="block">
        <p>
          <mat-icon
            aria-hidden="false"
            aria-label="Example insert_emoticon icon"
            >insert_emoticon</mat-icon
          >
        </p>
        <h3>35,000+</h3>
        <p>Happy customers</p>
      </div>
    </div>
  </div>
</div>
<div class="fade-bottom"></div>
<div class="home-background_2">
  <div class="container-2">
    <mat-card class="restaurant1-card">
      <mat-card-header>
      </mat-card-header>
      <img class="restaurant1-image" mat-card-image src="assets/restaurant-1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="restaurant2-card">
      <mat-card-header>
        <mat-card-title>Best Restaurants From our Site</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <img class="restaurant2-image" mat-card-image src="assets/restaurant-2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="restaurant3-card">
      <mat-card-header>
      </mat-card-header>
      <img class="restaurant3-image" mat-card-image src="assets/restaurant-3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="fade-top fade-bottom"></div>
<app-footer></app-footer>
