<app-nav-bar></app-nav-bar>
<div class="home-background">
  <!-- <p [style.color]="color">{{ title }}</p>

  <button mat-button type="submit" [disabled]="buttonDisable">Test</button>
  <button mat-button type="submit" (click)="changeButton()">Update Button</button>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input
        required
        type="email"
        matInput
        placeholder="test@example.com"
        value=""
        [(ngModel)]="newTitle"
      />
    </mat-form-field>
    <button
      mat-button
      type="submit"
      [disabled]="buttonDisable"
      (click)="changeTitle()"
    >
      {{ newTitle }}
    </button>
  </p> -->

  

</div>
